
@{
    ViewData["Title"] = "AboutUs";
}

<h1>Hakkımızda</h1>

<br /> <br />

<strong>Ha.Appointment</strong>

<br /> <br />


<p>Kuaför kaliteli ürün ve müşteri memnuniyetini ön planda tutan hizmet anlayışıyla müşterilerine hizmet sunmaktadir.
Kuaför Salonumuz sizlere daha iyi hizmet verebilmek amacıyla trend saç modellerini takip eder; kişilik özelliklerinize,
saç kalitenize ve yüz şeklinize uygun olup olmadığına karar verip günlük hayatta en rahat edebileceğiniz tasarımı sunmaktayız.
Salonumuzun temel aldığı ilke mükemmelliğe ulaşma çabasıdır.
Güler yüzlü ve uzman ekibiyle, yüksek kaliteli ürünleriyle hizmetten ödün vermeden sizlerin özel mekânı olmaktır</p>

<marquee direction=left>Bize Ulaşın 0850 000 000</marquee>

<img src="~/Images/web.jpg" width="385" />
<img src="~/Images/haircut.jpg" width="275" />
<img src="~/Images/blckwthuman-image.jpg" width="275" />

