
@{
    ViewData["Title"] = "Contact";
}

<h1>Bize Ulaşın</h1>

<strong>Ha.appointment</strong>

<storng>Yardımımıza mı ihtiyacınız var ? </storng>

<img src="~/Images/1801901.png" width=89 />

<br /> <br /> <br /> <br />

<marque direction=left> Telefon numaramız 0850 000 000 bizi arayarak veya hasannakgozz@gmail.com hesabına mail atarak ulaşabilirsiniz...   </marque>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d756.2335417651346!2d29.833143929208756!3d40.69744751548496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cb40e1b635a8cb%3A0x1e66e03682ac6f96!2zxLBwZWsgWW9sdSwgNjY1LiBTay4gTm86MSwgNDE2NTAgR8O2bGPDvGsvS29jYWVsaQ!5e0!3m2!1str!2str!4v1653336809381!5m2!1str!2str" width="400" height="300" style="border:0;" allowfullscreen=" ="float: right"" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>



