@using Ha_appointment.Models
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta http-equiv="Content-Type" content="text/html; charset=windows-1254" />












<a href="https://api.whatsapp.com/send?phone=08500000000" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>


<br /> <br /> <br /> 


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>

  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="~/Images/web.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="~/Images/getting-haircut.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="~/Images/man2.jpg" alt="Third slide">
    </div>
     <div class="carousel-item">
      <img class="d-block w-100" src="~/Images/3man.jpg" alt="Fourth slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<h1><strong>Hakkýmýzda</strong></h1>

<hr />

<p>20 Yýldýr makas tutan ellerimizin tecrübesi ile geldiðimiz noktada,
    bize güvenen binlerce centilmen ile çok keyifli bir öykü yaþadýk.
    El üstünde tuttuðumuz sevgili centilmenlerimiz
    bize her zaman çok yakýn ve dost samimiyeti ötesinde yakýn durdular. Kimi zaman dertlerini,
    kimi zaman sevinçlerini, kimi zaman heyecan ya da üzüntülerini paylaþtýlar koltuklarýmýzda.
    Yeri geldi birlikte eðlendik, yeri geldi ülkeyi kurtardýk, yeri geldi sporu ve
    gönül verdiðimiz takýmlarý konuþtuk ve çok eðlendik; tüm bu anlarda ve bize gösterilen bu teveccüh esnasýnda
    iþimizi iyi yapmak, dürüst olmak, bonkör olmak,
    sahip olduðumuz mesleki tecrübelerimizi sonuna deðin kimseyi ayýrt etmeksizin sunmak ise vazgeçilmezimiz oldu.</p>
<hr />


<iframe style="float: right" width="560" height="315" src="https://www.youtube.com/embed/9PN4P2EUEvI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d756.2335417651346!2d29.833143929208756!3d40.69744751548496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cb40e1b635a8cb%3A0x1e66e03682ac6f96!2zxLBwZWsgWW9sdSwgNjY1LiBTay4gTm86MSwgNDE2NTAgR8O2bGPDvGsvS29jYWVsaQ!5e0!3m2!1str!2str!4v1653336809381!5m2!1str!2str" width="400" height="300" style="border:0;" allowfullscreen=" ="float: right"" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

